<script type="text/javascript" src="/javascripts/examples/dojo/hitch.js">

<h2>Dojo hitch</h2>

<h3>The oracle sayeth</h3>
<p id="oracle"></p>

<h3>The eight-ball sayeth</h3>
<p id="eight-ball"></p>
  