<script type="text/javascript" src="/javascripts/examples/core_effects.js"></script>

<h2>Core Effects Demo</h2>

<h3 id="scale">Scale</h3>
<h3 id="highlight">Highlight</h3>
<h3 id="opacity">Opacity</h3>
<h3 id="move">Move</h3>
