<style type="text/css">
li {
  margin: 0.5em;
}
#todo, #done {
  padding: 2em;
  border: 2px solid black;
}
</style>

<script type="text/javascript" src="/javascripts/examples/prototype/draggable.js"></script>
<h2>Draggable Demo</h2>

<h3>Todo</h3>
  
<ul id="todo">
  <li>Run marathon</li>
  <li>Visit moon</li>
</ul>    

<h3>Done</h3>

<ul id="done">
  &nbsp;
</ul>

