<script type="text/javascript" src="/javascripts/examples/extend.js"></script>

<h2>Extend Example</h2>

<table id="sundance">
  <tr>
    <td>name</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>isFurry</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>canFly</td><td>&nbsp;</td>
  </tr>
  <tr>
    <td>laysEggs</td><td>&nbsp;</td>
  </tr>
</table>