<script type="text/javascript" src="/javascripts/examples/insert.js"></script>

<div id="main">
<h2>Insertion Demo</h2>

<div id="target" style="margin: 1em; border: 1px solid red; height: 50%; width: 50%">
  &nbsp;
</div>                                                    

<form>
  <table>
    <tr>
      <td><input type="text" name="content" id="content"/></td>
      <td><input type="button" value="before" name="before" id="before"/></td>
      <td><input type="button" value="top" name="top" id="top"/></td>
      <td><input type="button" value="bottom" name="bottom" id="bottom"/></td>
      <td><input type="button" value="after" name="after" id="after"/></td>
    </tr>
  </table>
</form>
</div>

