<script type="text/javascript" src="/javascripts/examples/prototype/links.js"></script>

<h2>Links Demo</h2>

<ul>
  <li><a href="http://thinkrelevance.com">Relavance Home</a></li>
  <li><a href="http://blog.thinkrelevance.com">Relavance Blog</a></li>
  <li><a href="honeypot.pdf">Super-Secret Report</a></li>
</ul>

