<script type="text/javascript" src="/javascripts/examples/prototype/number.js"></script>

<h2>Number Demo</h2>

<form>
  <table id="demo">
    <thead>
      <td>Code</td>
      <td>Result</td>
    </thead>
  </table>
</form>

