<script type="text/javascript" src="/javascripts/builder.js"></script>
<script type="text/javascript" src="/javascripts/portal.js"></script>
<script type="text/javascript" src="/javascripts/examples/portal.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/examples/portal.css"></stylesheet>

  <h1>Portal test page</h1>
  <div id="page">
      <div id="widget_col_0"></div>
      <div id="widget_col_1"></div>
      <div id="widget_col_2"></div>
 </div>
 <div id="control_buttons" style="display:none">
   <a href="#" id="edit_button"></a>

   <a href="#" onclick="removeWidget(this); return false;" id="delete_button"></a>
 </div>

