<script type="text/javascript" src="/javascripts/sound.js"></script>
<script type="text/javascript" src="/javascripts/examples/sound.js"></script>

<h2>Sound Demo</h2>

<input type="button" id="on" value="System On"></input>
<input type="button" id="off" value="System Off"></input>
<input type="button" id="play" value="Play"></input>
