<script type="text/javascript" src="/javascripts/jquery/jquery.color.js"></script>
<script type="text/javascript" src="/javascripts/examples/jquery/animate.js"></script>

<h2>Animate Demo</h2>

<h3 id="morph">Animate</h3>
