<script type="text/javascript" src="/javascripts/examples/jquery/chat.js"></script>

<h2>Chat Demo</h2>

<form method="post">
  <table>
    <tr>
      <td>Message</td>
      <td><input type="text" name="message" id="message"/></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><input type="submit" value="post it"/></td>
    </tr>
  </table>
</form>

<ul id="messages" style="list-style-type: none;">
  <%= render :partial => "shared/chat_messages" %>
</ul>
