<script type="text/javascript" src="/javascripts/examples/jquery/escape_html.js"></script>

<div id="main">
<h2>Escape HTML Demo</h2>
<p id="base">
<strong>Totus</strong> vestri substructio es belong nobis.  
</p>
<p id="roof">
Roof, roof, roof est in incendia. 
Nos don't postulo haud unda permissum matris diligo exuro! 
Exuro, <strong>matris diligo</strong>, exuro!
</p>          
</div>

<pre id="markup">
</pre> 
