<script type="text/javascript">
  jQuery.noConflict();
</script>
<script type="text/javascript" 
        src="/javascripts/prototype.js">
</script>

<!-- <script type="text/javascript" src="/javascripts/jquery/jquery.color.js"></script> -->
<script type="text/javascript" src="/javascripts/examples/jquery/selectors.js"></script>

<div id="main">
<h2>Selectors Demo</h2>

<form>
  <table id="form-table">
    <tr>
      <td><input type="text" name="selector" id="selector"/></td>
      <td><input type="button" value="Highlight!" name="highlight" id="highlight"/></td>
    </tr>
  </table>
</form>

<h2>A new kind of Lorem Ipsum</h2>

<p id="base">
<strong>Totus</strong> vestri substructio es belong nobis.  
</p>
<p id="roof">
Roof, roof, roof est in incendia. 
Nos don't postulo haud unda permissum matris diligo exuro! 
Exuro, <strong>matris diligo</strong>, exuro!
</p>          

</div>

<pre id="markup">
</pre> 
