<script type="text/javascript" src="/javascripts/examples/autocomplete.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/examples/autocomplete.css"></stylesheet>

<h2>Autocomplete Example</h2>

<input id="user_favorite_color"
       name="user[favorite_color]"
       size="30"
       type="text" />
<div class="auto_complete"
     id="user_favorite_color_auto_complete"></div>
