<script type="text/javascript" src="/javascripts/examples/dollars.js"></script>

<div id="main">
<h2>$ and $$ Demo</h2>

<form>
  <table id="form-table">
    <tr>
      <td class="function-name">$</td>
      <td><input type="text" name="id-value" id="id-value"/></td>
      <td><input type="button" value="Highlight!" name="highlight-by-id" id="highlight-by-id"/></td>
    </tr>
    <tr>
      <td class="function-name">$$</td>
      <td><input type="text" name="css-value" id="css-value"/></td>
      <td><input type="button" value="Highlight!" name="highlight-by-css" id="highlight-by-css"/></td>
    </tr>
  </table>
</form>
</div>

<pre id="markup">
</pre> 
