<script type="text/javascript" src="/javascripts/examples/form_observer.js"></script>

<h2>Form Observer</h2>

<form>
  <table>
    <tr>
      <td>Search</td>
      <td><input type="text" id="search"/></td>
      <td><image id="spinner" style="display:none;" src="/images/loading.gif"></td>
    </tr>
  </table>
</form>

<div id="results">
  <ul>
    
  </ul>
</div>

