<h2>Prototype and Scriptaculous Examples</h2>

<ul>
  <li><%= link_to "Client-side validation", :action => "validation" %></a></li>
  <li><%= link_to "Server-side validation", :action => "server_validation" %></a></li>
</ul>
