<script type="text/javascript" src="/javascripts/validation.js"></script>

<h2>Client-Side Validation</h2>

<form>
  <table>
    <tr>
      <td>What is your name?</td>
      <td><input type="text" id="name"/></td>
      <td id="name_validation">&nbsp;</td>
    </tr>
    <tr>
      <td>What is your favorite color?</td>
      <td><input type="text" id="favorite_color"/></td>
      <td id="favorite_color_validation">&nbsp;</td>
    </tr>
  </table>
</form>

